/*  your css code here. If applicable */
.container {
    text-align: center;
    margin-top: 50px;
}

input {
    padding: 10px;
    margin: 5px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

.board {
    width: 300px;
    height: 300px;
    margin: 30px auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.cell {
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 40px;
    cursor: pointer;
}